.blockquote--normal {
  padding-inline-start: 1.5em;
  border-inline-start: 5px solid var(--color-azure);
}

.cite {
  font-weight: 700;
  margin-top: 1em;
}

.blockquote--center {
  margin: 0 auto;
  text-align: center;

  width: 80%;
  width: 80ch;

  border-block-start: 5px solid var(--color-azure);
  border-block-end: 5px solid var(--color-azure);

  & p:first-child {
    margin-block-start: 1em;
  }

  & p:last-child {
    margin-block-end: 1em;
  }
}


.blockquote--large {
  font-size: 1.5rem;
  width: 60ch;
}

.blockquote--single-top {
  border-block-start: 5px solid var(--color-azure);

  & p:first-child {
    margin-block-start: 1rem;
  }
}

.blockquote--single-bottom {
  border-block-end: 5px solid var(--color-azure);

  & p:last-child {
    margin-block-end: 1rem;
  }
}

.blockquote--single-both {
  border-block-start: 5px solid var(--color-azure);
  border-block-end: 5px solid var(--color-azure);

  & p:first-child {
    margin-block-start: 1em;
  }

  & p:last-child {
    margin-block-end: 1em;
  }
}

.blockquote--double-both {
  border-top: 10px double var(--color-azure);
  border-bottom: 10px double var(--color-azure);

  & p:first-child {
    margin-block-start: 1em;
  }

  & p:last-child {
    margin-block-end: 1em;
  }
}