<h3>Yellows</h3>
<div class="color-container">
  <div class="lab-color-item yellow">yellow<br /><strong>lab(88.71 0.51 87.36)</strong></div>
  <div class="lab-color-item canary">canary<br /><strong>lab(83.27 8.09 83.45)</strong></div>
  <div class="lab-color-item gold">gold<br /><strong>lab(75.09 24.55 78.15)</strong></div>
  <div class="lab-color-item daffodil">daffodil<br /><strong>lab(93.81 -4.15 51.07)</strong></div>
  <div class="lab-color-item flaxen">flaxen<br /><strong>lab(75.43 3.54 50.26)</strong></div>
  <div class="lab-color-item butter">butter<br /><strong>lab(90.18 -2.41 83.61)</strong></div>
  <div class="lab-color-item lemon">lemon<br /><strong>lab(96.13 -19.22 70.93)</strong></div>
  <div class="lab-color-item mustard">mustard<br /><strong>lab(77.65 9.23 72.06)</strong></div>
  <div class="lab-color-item corn">corn<br /><strong>lab(82.4 -3.62 81.38)</strong></div>
  <div class="lab-color-item medallion">medallion<br /><strong>lab(75.32 10.15 76.78)</strong></div>
  <div class="lab-color-item dandelion">dandelion<br /><strong>lab(85.12 6.85 78.74)</strong></div>
  <div class="lab-color-item bumblebee">bumblebee<br /><strong>lab(89.95 -3.56 87.58)</strong></div>
  <div class="lab-color-item banana">banana<br /><strong>lab(95.47 -5.75 40.09)</strong></div>
  <div class="lab-color-item butterscotch">butterscotch<br /><strong>lab(80.6 13.53 81.45)</strong></div>
  <div class="lab-color-item dijon">dijon<br /><strong>lab(63.84 11.14 67.63)</strong></div>
  <div class="lab-color-item honey">honey<br /><strong>lab(70.08 26.67 73.56)</strong></div>
  <div class="lab-color-item blonde">blonde<br /><strong>lab(92.79 -4.3 58.58)</strong></div>
  <div class="lab-color-item pineapple">pineapple<br /><strong>lab(90.52 -2.46 83.71)</strong></div>
  <div class="lab-color-item tuscansun">tuscansun<br /><strong>lab(85.76 4.97 79.19)</strong></div>
</div>
