<h3>Pinks</h3>
<div class="color-container">
  <div class="lab-color-item pink">pink<br /><strong>lab(74.43 40.31 -11.07)</strong></div>
  <div class="lab-color-item fuchsia">fuchsia<br /><strong>lab(55.01 83.45 -32.07)</strong></div>
  <div class="lab-color-item punch">punch<br /><strong>lab(58.92 63.9 14.71)</strong></div>
  <div class="lab-color-item watermelon">watermelon<br /><strong>lab(69.14 50.88 8.61)</strong></div>
  <div class="lab-color-item flamingo">flamingo<br /><strong>lab(76.9 35.66 4.12)</strong></div>
  <div class="lab-color-item rouge">rouge<br /><strong>lab(63.42 54.6 9.35)</strong></div>
  <div class="lab-color-item salmon">salmon<br /><strong>lab(77.96 29.94 19.14)</strong></div>
  <div class="lab-color-item coral">coral<br /><strong>lab(67.71 48.92 36.14)</strong></div>
  <div class="lab-color-item peach">peach<br /><strong>lab(72.27 38.44 26.62)</strong></div>
  <div class="lab-color-item strawberry">strawberry<br /><strong>lab(59.25 67.22 39.84)</strong></div>
  <div class="lab-color-item rosewood">rosewood<br /><strong>lab(41.31 39.83 20.73)</strong></div>
  <div class="lab-color-item lemonade">lemonade<br /><strong>lab(81.89 25.59 0.96)</strong></div>
  <div class="lab-color-item taffy">taffy<br /><strong>lab(70.48 50.81 -11.88)</strong></div>
  <div class="lab-color-item bubblegum">bubblegum<br /><strong>lab(63.26 66.79 -6.68)</strong></div>
  <div class="lab-color-item balletslipper">balletslipper<br /><strong>lab(74.08 38.79 -3.9)</strong></div>
  <div class="lab-color-item crepe">crepe<br /><strong>lab(80.15 23.25 0.99)</strong></div>
  <div class="lab-color-item maroon">maroon<br /><strong>lab(29.78 48.82 -1.76)</strong></div>
  <div class="lab-color-item hotpink">hotpink<br /><strong>lab(56.76% 83.6077 356.1066)</strong></div>
</div>

