<h3>browns</h3>
<div class="color-container">
  <div class="lab-color-item brown">brown<br /><strong>lab(9.18 5.3 10.12)</strong></div>
  <div class="lab-color-item coffee">coffee<br /><strong>lab(24.87 6.54 20.36)<br /><strong>lab(87.92 -1.37 35.07)</strong></div>
  <div class="lab-color-item mocha">mocha<br /><strong>lab(18.45 6.67 21.13)</strong></div>
  <div class="lab-color-item peanut">peanut<br /><strong>lab(41.43 8.52 27.6)</strong></div>
  <div class="lab-color-item carob">carob<br /><strong>lab(16.56 4.99 17.62)</strong></div>
  <div class="lab-color-item hickory">hickory<br /><strong>lab(14.19 11.98 14.22)<strong></div>
  <div class="lab-color-item pecan">pecan<br /><strong>lab(19.58 16.55 20.43)</strong></div>
  <div class="lab-color-item walnut">walnut<br /><strong>lab(18.96 11.8 19.94)</strong></div>
  <div class="lab-color-item caramel">caramel<br /><strong>lab(28.46 19.72 32.56)</strong></div>
  <div class="lab-color-item gingerbread">gingerbread<br /><strong>lab(24.48 20.99 33.07)</strong></div>
  <div class="lab-color-item chocolate">chocolate<br /><strong>lab(10.12 10 14.08)</strong></div>
  <div class="lab-color-item tortilla">tortilla<br /><strong>lab(53.88 8.14 28.77)</strong></div>
  <div class="lab-color-item umber">umber<br /><strong>lab(16.02 6.75 13.34)</strong></div>
  <div class="lab-color-item tawny">tawny<br /><strong>lab(36.92 20.42 35.2)</strong></div>
  <div class="lab-color-item brunette">brunette<br /><strong>lab(14.7 11.9 19.03)</strong></div>
  <div class="lab-color-item cinammon">cinammon<br /><strong>lab(25.54 24.91 30.83)</strong></div>
  <div class="lab-color-item penny">penny<br /><strong>lab(21.99 18.12 21.67)</strong></div>
</div>
