dt {
  font-size: 1.5rem;
  font-weight: 700;
}

dd {
  margin-inline-start: 2em;
}

dd:not(:last-child) {
  margin-block-end: 2rem;
}

.font-desc {
  font-size: 1.5rem;
  font-weight: 700;

  & dd {
    margin-inline-start: 2em;
  }
  
  & dd:not(:last-child) {
    margin-block-end: 2rem;
  }
}