<h3>reds</h3>
<div class="color-container">
  <div class="color-item red">red<br/><strong>#ff4136</strong></div>
  <div class="color-item cherry">cherry<br/><strong>#9a0f02</strong></div>
  <div class="color-item rose">rose<br/><strong>#e2252a</strong></div>
  <div class="color-item jam">jam<br/><strong>#600f0b</strong></div>
  <div class="color-item merlot">merlot<br/><strong>#541f1b</strong></div>
  <div class="color-item garnet">garnet<br/><strong>#5f0a04</strong></div>
  <div class="color-item crimson">crimson<br/><strong>#b8100a</strong></div>
  <div class="color-item ruby">ruby<br/><strong>#900503</strong></div>
  <div class="color-item scarlet">scarlet<br/><strong>#910d08</strong></div>
  <div class="color-item redwine">redwine<br/><strong>#4c0805</strong></div>
  <div class="color-item redapple">redapple<br/><strong>#a91b0d</strong></div>
  <div class="color-item mahogany">mahogany<br/><strong>#420d09</strong></div>
  <div class="color-item blood">blood<br/><strong>#710c04</strong></div>
  <div class="color-item sangria">sangria<br/><strong>#5f1914</strong></div>
  <div class="color-item currant">currant<br/><strong>#670c07</strong></div>
  <div class="color-item blush">blush<br/><strong>#bb544a</strong></div>
  <div class="color-item candy">candy<br/><strong>#d31603</strong></div>
  <div class="color-item lipstick">lipstick<br/><strong>#9b0f02</strong></div>
</div>
