<h3 class="site-preview-heading">Big button</h3>
<button type="button" class="button button--big">{{bigText}}</button>
<button type="button" class="button button--big" disabled="disabled">{{disabledText}}</button>
<button type="button" class="button button--big button--unstyled">{{unstyledText}}</button>