<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ path '/assets/css/journal.css' }}">
    <title>Journal Preview</title>
</head>
<body>

{{{ yield }}}


</body>
</html>