.header {
  & h1 {
    margin-bottom: 0;
    text-align: center;
  }
  
  & h2 {
    margin-top: 0;
    text-align: center;
  }

  & h3 {
    text-align: center;

  }

  & hr {
    border: 1px solid var(--color-charcoal);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  & p.article-summary {
    width: 60%;
    margin: 0 auto;
    text-align: justify;
  }
}
