<article class="article-grid__item paper bg-light color-dark" aria-label="Blog Post">
  <div class="flow">
    <h2 class="text-700">Create Diagonal Layouts Like It's 2020</h3>
    <p class="text-600">Layouts with diagonal sections are quite popular for several years now. It is not
      the new hot stuff, and you will probably not find it in the articles titled "Design trends for 2020".
      But I think it is here to stay. It is one tool designers can use to bring some dynamic to all the
      rectangular boxes with boring 90-degree angles.</p>
    <div class="read-link"><a href="example.html"><span
      aria-label="Read post">Read post</span> <svg class="icon"
      aria-hidden="true" focusable="false" width="20" height="20">
      <use xlink:href="/assets/icons/icons.svg#arrow-right"></use></svg></a>
    </div>
  </div>
</article>
