<h3>Funky Colors</h3>

<div class="color-container">
  <div class="lch-color-item hemi-orange">Hemi Orange<br><strong>lch(64.61% 76.27 53.74)</strong></div>
  <div class="lch-color-item plum-crazy">Plum Crazy Purple<br<strong>lch(30.92% 102.31 308.18)</strong></div>
  <div class="lch-color-item panther-pink">Panther Pink<br><strong>lch(48.91% 61.35 337.97)</strong></div>
  <div class="lch-color-item green-go">Green Go<br><strong>lch(56.42% 54.4 143.72)</strong></div>
  <div class="lch-color-item sublime-green">Sublime Green<br><strong>lch(82.65% 78.73 119.22)</strong></div>
  <div class="lch-color-item go-mango">Go Mango<br><strong>lch(54.05% 64.94 34.21)</strong></div>
  <div class="lch-color-item bright-green">Bright Green<br><strong>lch(89.23% 106.9628 129.2821)</strong></div>
  <div class="lch-color-item top-banana">Top Banana<br><strong>lch(93.19% 75.44 94.73)</strong></div>
  <div class="lch-color-item citron-yella">Citron Yella<br><strong>lch(66.7% 64.31 103.9)</strong></div>
  <div class="lch-color-item butterscotch">Butterscotch<br><strong>lch(63.69% 64.99 67.73)</strong></div>
  <div class="lch-color-item cherry">Cherry<br><strong>lch(45.06% 80.92 30.16)</strong></div>
  <div class="lch-color-item black-cherry">Black Cherry<br><strong>lch(21.8% 23.72 351.88)</strong></div>
  <div class="lch-color-item rebeccapurple">rebeccapurple<br><strong>lch(32.39% 61.24 308.86)</strong></div>
</div>
