<h1>Color Palettes</h1>
<h2>The New Defaults</h2>

<h3>Whites</h3>
<div class="color-container">
  <div class="lch-color-item white">white<br /><strong>lch(99.75% 0.59 322.97)</strong></div>
  <div class="lch-color-item alabaster">alabaster<br /><strong>lch(98.38% 5.31 88.81)</strong></div>
  <div class="lch-color-item snow">snow<br /><strong>lch(98.88% 3.6 191.54)</strong></div>
  <div class="lch-color-item ivory">ivory<br /><strong>lch(97.42% 9.56 88.8)</strong></div>
  <div class="lch-color-item cream">cream<br /><strong>lch(98.3% 16.5959 98.9853)</strong></div>
  <div class="lch-color-item eggshell">eggshell<br /><strong>lch(97.88% 11.27 94.99)</strong></div>
  <div class="lch-color-item cotton">cotton<br /><strong>lch(98.78% 2.48 113.53)</strong></div>
  <div class="lch-color-item chiffon">chiffon<br /><strong>lch(98.09% 4.48 104.96)</strong></div>
  <div class="lch-color-item salt">salt<br /><strong>lch(95.1% 3.78 43.28)</strong></div>
  <div class="lch-color-item lace">lace<br /><strong>lch(96.21% 5.39 76.13)</strong></div>
  <div class="lch-color-item coconut">coconut<br /><strong>lch(96.04% 7.9354 63.5890)</strong></div>
  <div class="lch-color-item linen">linen<br /><strong>lch(93.13% 12.59 92.24)</strong></div>
  <div class="lch-color-item bone">bone<br /><strong>lch(89.08% 10.38 87.43)</strong></div>
  <div class="lch-color-item porcelain">porcelain<br /><strong>lch(99.94% 1.4768 105.1548)</strong></div>
  <div class="lch-color-item parchment">parchment<br /><strong>lch(96.9% 11.89 93.57)</strong></div>
  <div class="lch-color-item rice">rice<br /><strong>lch(97.13% 4.08 78.2)</strong></div>
</div>

<h3>blues</h3>
<div class="color-container">
  <div class="lch-color-item blue">blue<br /><strong>lch(47.91% 60.5150 272.8015)</strong></div>
  <div class="lch-color-item navy">navy<br /><strong>lch(11.16% 24.1150 270.0866)</strong></div>
  <div class="lch-color-item aqua">aqua<br /><strong>lch(82.68% 34.17 231.2)</strong></div>
  <div class="lch-color-item sky">sky<br /><strong>lch(68% 52.6659 250.1311)</strong></div>
  <div class="lch-color-item teal">teal<br /><strong>lch(74.74% 40.7 196.72)</strong></div>
  <div class="lch-color-item slate">slate<br /><strong>lch(51.41% 7.38 267.1)</strong></div>
  <div class="lch-color-item indigo">indigo<br /><strong>lch(15.83% 41.92 298.34)</strong></div>
  <div class="lch-color-item cobalt">cobalt<br /><strong>lch(29.6% 80.37 292.81)</strong></div>
  <div class="lch-color-item ocean">ocean<br /><strong>lch(36.28% 25.43 200.69)</strong></div>
  <div class="lch-color-item peacock">peacock<br /><strong>lch(16.07% 16.05 222.47)</strong></div>
  <div class="lch-color-item azure">azure<br /><strong>lch(22.23% 81.7 297.36)</strong></div>
  <div class="lch-color-item cerulean">cerulean<br /><strong>lch(56% 40.1 239.88)</strong></div>
  <div class="lch-color-item lapis">lapis<br /><strong>lch(29.38% 86.04 295.96)</strong></div>
  <div class="lch-color-item spruce">spruce<br /><strong>lch(25.08% 11.35 246.4)</strong></div>
  <div class="lch-color-item stone">stone<br /><strong>lch(48.64% 16.94 244.34)</strong></div>
  <div class="lch-color-item aegean">aegean<br /><strong>lch(28.12% 28.44 264.75)</strong></div>
  <div class="lch-color-item berry">berry<br /><strong>lch(14.72% 58.85 300.79)</strong></div>
  <div class="lch-color-item denim">denim<br /><strong>lch(11.69% 21.48 281.01)</strong></div>
  <div class="lch-color-item admiral">admiral<br /><strong>lch(16.54% 81.52 299.36)</strong></div>
  <div class="lch-color-item sapphire">sapphire<br /><strong>lch(67.27% 30.97 211.6)</strong></div>
  <div class="lch-color-item arctic">arctic<br /><strong>lch(87.79% 34.27 211.49)</strong></div>
</div>

<h3>browns</h3>
<div class="color-container">
  <div class="lch-color-item tan">tan<br /><strong>lch(87.35% 24.58 94.28)</strong></div>
  <div class="lch-color-item beige">beige<br /><strong>lch(87.92% 35.1 92.24)</strong></div>
  <div class="lch-color-item macaroon">macaroon<br /><strong>lch(89.24% 54.39 91.07)</strong></div>
  <div class="lch-color-item hazelwood">hazelwood<br /><strong>lch(76.49% 25.12 91.04)</strong></div>
  <div class="lch-color-item granola">granola<br /><strong>lch(75.78% 50.8 86.09)</strong></div>
  <div class="lch-color-item oat">oat<br /><strong>lch(81.66% 34.35 88.17)</strong></div>
  <div class="lch-color-item eggnog">eggnog<br /><strong>lch(90.79% 37.11 87.05)</strong></div>
  <div class="lch-color-item fawn">fawn<br /><strong>lch(70.63% 48.83 85.67)</strong></div>
  <div class="lch-color-item sugarcookie">sugarcookie<br /><strong>lch(92.59% 31.49 97.42)</strong></div>
  <div class="lch-color-item sand">sand<br /><strong>lch(76.47% 47.36 85.9)</strong></div>
  <div class="lch-color-item sepia">sepia<br /><strong>lch(77.14% 39.56 73.59)</strong></div>
  <div class="lch-color-item latte">latte<br /><strong>lch(80.49% 41.57 78.45)</strong></div>
  <div class="lch-color-item oyster">oyster<br /><strong>lch(85.11% 28.36 98.37)</strong></div>
  <div class="lch-color-item biscotti">biscotti<br /><strong>lch(80.69% 51.53 87.18)</strong></div>
  <div class="lch-color-item parmesean">parmesean<br /><strong>lch(92.68% 44.44 91.33)</strong></div>
  <div class="lch-color-item hazelnut">hazelnut<br /><strong>lch(68.72% 40.44 86.9)</strong></div>
  <div class="lch-color-item sandcastle">sandcastle<br /><strong>lch(79.43% 38.13 86.52)</strong></div>
  <div class="lch-color-item buttermilk">buttermilk<br /><strong>lch(94.5% 31.46 93.13)</strong></div>
  <div class="lch-color-item sanddollar">sanddollar<br /><strong>lch(91.1% 23.36 99.85)</strong></div>
  <div class="lch-color-item shortbread">shortbread<br /><strong>lch(91.98% 44.5 91.3)</strong></div>
</div>

<h3>Yellows</h3>
<div class="color-container">
  <div class="lch-color-item yellow">yellow<br /><strong>lch(88.71% 87.3637 89.6645)</strong></div>
  <div class="lch-color-item canary">canary<br /><strong>lch(83.27% 83.84 84.46)</strong></div>
  <div class="lch-color-item gold">gold<br /><strong>lch(75.09% 81.92 72.56)</strong></div>
  <div class="lch-color-item daffodil">daffodil<br /><strong>lch(93.81% 51.24 94.65)</strong></div>
  <div class="lch-color-item flaxen">flaxen<br /><strong>lch(75.43% 50.38 85.97)</strong></div>
  <div class="lch-color-item butter">butter<br /><strong>lch(90.18% 83.64 91.65)</strong></div>
  <div class="lch-color-item lemon">lemon<br /><strong>lch(96.13% 73.49 105.16)</strong></div>
  <div class="lch-color-item mustard">mustard<br /><strong>lch(77.65% 72.65 82.7)</strong></div>
  <div class="lch-color-item corn">corn<br /><strong>lch(82.4% 81.46 92.55)</strong></div>
  <div class="lch-color-item medallion">medallion<br /><strong>lch(75.32% 77.45 82.47)</strong></div>
  <div class="lch-color-item dandelion">dandelion<br /><strong>lch(85.12% 79.04 85.03)</strong></div>
  <div class="lch-color-item bumblebee">bumblebee<br /><strong>lch(89.95% 87.65 92.33)</strong></div>
  <div class="lch-color-item banana">banana<br /><strong>lch(95.47% 40.5 98.16)</strong></div>
  <div class="lch-color-item butterscotch">butterscotch<br /><strong>lch(80.6% 82.57 80.57)</strong></div>
  <div class="lch-color-item dijon">dijon<br /><strong>lch(63.84% 68.54 80.65)</strong></div>
  <div class="lch-color-item honey">honey<br /><strong>lch(70.08% 78.25 70.07)</strong></div>
  <div class="lch-color-item blonde">blonde<br /><strong>lch(92.79% 58.74 94.2)</strong></div>
  <div class="lch-color-item pineapple">pineapple<br /><strong>lch(90.52% 83.75 91.68)</strong></div>
  <div class="lch-color-item tuscansun">tuscansun<br /><strong>lch(85.76% 79.35 86.41)</strong></div>
</div>

<h3>Oranges</h3>
<div class="color-container">
  <div class="lch-color-item orange">orange<br /><strong>lch(68.85% 82.9300 58.5005)</strong></div>
  <div class="lch-color-item tangerine">tangerine<br /><strong>lch(67.43% 77.97 56.86)</strong></div>
  <div class="lch-color-item merigold">merigold<br /><strong>lch(77.44% 79.26 73.55)</strong></div>
  <div class="lch-color-item cider">cider<br /><strong>lch(52.35% 56.22 59.54)</strong></div>
  <div class="lch-color-item rust">rust<br /><strong>lch(36.97% 55.26 56.02)</strong></div>
  <div class="lch-color-item ginger">ginger<br /><strong>lch(49.53% 70.08 56.23)</strong></div>
  <div class="lch-color-item tiger">tiger<br /><strong>lch(63.35% 89.67 53.36)</strong></div>
  <div class="lch-color-item bronze">bronze<br /><strong>lch(47.75% 64.78 56.75)</strong></div>
  <div class="lch-color-item cantaloupe">cantaloupe<br /><strong>lch(74.97% 50.13 51.27)</strong></div>
  <div class="lch-color-item apricot">apricot<br /><strong>lch(65.44% 79.4 61.35)</strong></div>
  <div class="lch-color-item carrot">carrot<br /><strong>lch(62.28% 80.48 55.33)</strong></div>
  <div class="lch-color-item squash">squash<br /><strong>lch(52.6% 73.02 55.17)</strong></div>
  <div class="lch-color-item spice">spice<br /><strong>lch(32.63% 49.7 58.05)</strong></div>
  <div class="lch-color-item marmalade">marmalade<br /><strong>lch(54.82% 76.23 56.22)</strong></div>
  <div class="lch-color-item amber">amber<br /><strong>lch(33.68% 58.11 51.12)</strong></div>
  <div class="lch-color-item sandstone">sandstone<br /><strong>lch(58.76% 66.71 56.62)</strong></div>
  <div class="lch-color-item yam">yam<br /><strong>lch(52.32% 76.26 54.15)</strong></div>
</div>

<h3>reds</h3>
<div class="color-container">
  <div class="lch-color-item red">red<br /><strong>lch(58.29% 87.9824 36.2373)</strong></div>
  <div class="lch-color-item cherry">cherry<br /><strong>lch(33% 70.91 41.19)</strong></div>
  <div class="lch-color-item rose">rose<br /><strong>lch(49.96% 84.73 34.74)</strong></div>
  <div class="lch-color-item jam">jam<br /><strong>lch(19.9% 44.11 35.89)</strong></div>
  <div class="lch-color-item merlot">merlot<br /><strong>lch(20.13% 29.52 32.27)</strong></div>
  <div class="lch-color-item garnet">garnet<br /><strong>lch(19.1% 45.98 37.1)</strong></div>
  <div class="lch-color-item crimson">crimson<br /><strong>lch(39.67% 79.97 39.69)</strong></div>
  <div class="lch-color-item ruby">ruby<br /><strong>lch(30.2% 67.69 39.7)</strong></div>
  <div class="lch-color-item scarlet">scarlet<br /><strong>lch(30.89% 66.1 39.23)</strong></div>
  <div class="lch-color-item redwine">redwine<br /><strong>lch(14.35% 37.05 33.32)</strong></div>
  <div class="lch-color-item redapple">redapple<br /><strong>lch(37.18% 72.35 40.09)</strong></div>
  <div class="lch-color-item mahogany">mahogany<br /><strong>lch(12.72% 30.2 32.16)</strong></div>
  <div class="lch-color-item blood">blood<br /><strong>lch(23.49% 53.85 38.94)</strong></div>
  <div class="lch-color-item sangria">sangria<br /><strong>lch(21.15% 38.91 34.89)</strong></div>
  <div class="lch-color-item currant">currant<br /><strong>lch(21.19% 48.69 37.18)</strong></div>
  <div class="lch-color-item blush">blush<br /><strong>lch(49.29% 49.87 32.89)</strong></div>
  <div class="lch-color-item candy">candy<br /><strong>lch(45.74% 90.4 41.37)</strong></div>
  <div class="lch-color-item lipstick">lipstick<br /><strong>lch(33.22% 71.3 41.2)</strong></div>
</div>

<h3>Pinks</h3>
<div class="color-container">
  <div class="lch-color-item pink">pink<br /><strong>lch(74.43% 41.8 344.65)</strong></div>
  <div class="lch-color-item fuchsia">fuchsia<br /><strong>lch(55.01% 89.4 338.98)</strong></div>
  <div class="lch-color-item punch">punch<br /><strong>lch(58.92% 65.57 12.96)</strong></div>
  <div class="lch-color-item watermelon">watermelon<br /><strong>lch(69.14% 51.6 9.6)</strong></div>
  <div class="lch-color-item flamingo">flamingo<br /><strong>lch(76.9% 35.9 6.59)</strong></div>
  <div class="lch-color-item rouge">rouge<br /><strong>lch(63.42% 55.4 9.72)</strong></div>
  <div class="lch-color-item salmon">salmon<br /><strong>lch(77.96% 35.53 32.59)</strong></div>
  <div class="lch-color-item coral">coral<br /><strong>lch(67.71% 60.82 36.46)</strong></div>
  <div class="lch-color-item peach">peach<br /><strong>lch(72.27% 46.76 34.7)</strong></div>
  <div class="lch-color-item strawberry">strawberry<br /><strong>lch(59.25% 78.14 30.65)</strong></div>
  <div class="lch-color-item rosewood">rosewood<br /><strong>lch(41.31% 44.9 27.49)</strong></div>
  <div class="lch-color-item lemonade">lemonade<br /><strong>lch(81.89% 25.61 2.14)</strong></div>
  <div class="lch-color-item taffy">taffy<br /><strong>lch(70.48% 52.18 346.84)</strong></div>
  <div class="lch-color-item bubblegum">bubblegum<br /><strong>lch(63.26% 67.12 354.29)</strong></div>
  <div class="lch-color-item balletslipper">balletslipper<br /><strong>lch(74.08% 38.99 354.26)</strong></div>
  <div class="lch-color-item crepe">crepe<br /><strong>lch(80.15% 23.27 2.43)</strong></div>
  <div class="lch-color-item maroon">maroon<br /><strong>lch(29.78% 48.85 357.93)</strong></div>
  <div class="lch-color-item hotpink">hotpink<br /><strong>lch(56.76% 83.6077 356.1066)</strong></div>
</div>

<h3>purples</h3>
<div class="color-container">
  <div class="lch-color-item purple">purple<br /><strong>lch(43.67% 92.5 321.75)</strong></div>
  <div class="lch-color-item mauve">mauve<br /><strong>lch(39.17% 39.9 317.33)</strong></div>
  <div class="lch-color-item violet">violet<br /><strong>lch(28.02% 75.41 317.46)</strong></div>
  <div class="lch-color-item boysenberry">boysenberry<br /><strong>lch(20.47% 41.27 357.17)</strong></div>
  <div class="lch-color-item lavender">lavender<br /><strong>lch(74.75% 49.09 317.55)</strong></div>
  <div class="lch-color-item plum">plum<br /><strong>lch(22.18% 33.84 0.58)</strong></div>
  <div class="lch-color-item lilac">lilac<br /><strong>lch(54.36% 64.41 318.68)</strong></div>
  <div class="lch-color-item periwinkle">periwinkle<br /><strong>lch(66.8% 37.19 313.16)</strong></div>
  <div class="lch-color-item eggplant">eggplant<br /><strong>lch(11.76% 22.75 325.73)</strong></div>
  <div class="lch-color-item iris">iris<br /><strong>lch(51.72% 54.61 309.03)</strong></div>
  <div class="lch-color-item heather">heather<br /><strong>lch(56.77% 34.97 307.6)</strong></div>
  <div class="lch-color-item amethyst">amethyst<br /><strong>lch(52.74% 75.54 309.53)</strong></div>
  <div class="lch-color-item raisin">raisin<br /><strong>lch(6.66% 17.76 358.69)</strong></div>
  <div class="lch-color-item orchid">orchid<br /><strong>lch(56.93% 73.88 309.41)</strong></div>
  <div class="lch-color-item mulberry">mulberry<br /><strong>lch(14.3% 34.67 7.03)</strong></div>
</div>

<h3>greens</h3>
<div class="color-container">
  <div class="lch-color-item green">green<br /><strong>lch(72.37% 82.26 138.18)</strong></div>
  <div class="lch-color-item chartreuse">chartreuse<br /><strong>lch(91.83% 89.71 119.62)</strong></div>
  <div class="lch-color-item juniper">juniper<br /><strong>lch(32.14% 37.8 119.53)</strong></div>
  <div class="lch-color-item sage">sage<br /><strong>lch(55.48% 21.52 133.58)</strong></div>
  <div class="lch-color-item lime">lime<br /><strong>lch(88.29% 90.76 144.65)</strong></div>
  <div class="lch-color-item fern">fern<br /><strong>lch(68.94% 55.86 140.72)</strong></div>
  <div class="lch-color-item olive">olive<br /><strong>lch(72.96% 48.03 121.13)</strong></div>
  <div class="lch-color-item emerald">emerald<br /><strong>lch(49.48% 68.73 135.8)</strong></div>
  <div class="lch-color-item pear">pear<br /><strong>lch(67.71% 69.13 123.12)</strong></div>
  <div class="lch-color-item moss">moss<br /><strong>lch(41.91% 44.7 122.96)</strong></div>
  <div class="lch-color-item shamrock">shamrock<br /><strong>lch(61.34% 82.12 135.4)</strong></div>
  <div class="lch-color-item seafoam">seafoam<br /><strong>lch(83.44% 66.5 154.42)</strong></div>
  <div class="lch-color-item pine">pine<br /><strong>lch(29.97% 34.3 135.36)</strong></div>
  <div class="lch-color-item parakeet">parakeet<br /><strong>lch(68.18% 76.13 142.7)</strong></div>
  <div class="lch-color-item mint">mint<br /><strong>lch(87.21% 35.15 160.9)</strong></div>
  <div class="lch-color-item seaweed">seaweed<br /><strong>lch(29.23% 26.67 124.78)</strong></div>
  <div class="lch-color-item pickle">pickle<br /><strong>lch(48.51% 40.66 123.51)</strong></div>
  <div class="lch-color-item pistachio">pistachio<br /><strong>lch(81.75% 14.91 160.01)</strong></div>
  <div class="lch-color-item basil">basil<br /><strong>lch(37.16% 35.79 136.49)</strong></div>
  <div class="lch-color-item crocodile">crocodile<br /><strong>lch(48.58% 37.6 121.47)</strong></div>
</div>

<h3>Browns</h3>
<div class="color-container">
  <div class="lch-color-item brown">brown<br /><strong>lch(9.18% 11.42 62.37)</strong></div>
  <div class="lch-color-item coffee">coffee<br /><strong>lch(24.87% 21.38 72.2)</strong></div>
  <div class="lch-color-item mocha">mocha<br /><strong>lch(18.45% 22.16 72.47)</strong></div>
  <div class="lch-color-item peanut">peanut<br /><strong>lch(41.43% 28.88 72.85)</strong></div>
  <div class="lch-color-item carob">carob<br /><strong>lch(16.56% 18.31 74.18)</strong></div>
  <div class="lch-color-item hickory">hickory<br /><strong>lch(14.19% 18.59 49.88)</strong></div>
  <div class="lch-color-item pecan">pecan<br /><strong>lch(19.58% 26.29 50.98)</strong></div>
  <div class="lch-color-item walnut">walnut<br /><strong>lch(18.96% 23.17 59.39)</strong></div>
  <div class="lch-color-item caramel">caramel<br /><strong>lch(28.46% 38.06 58.8)</strong></div>
  <div class="lch-color-item gingerbread">gingerbread<br /><strong>lch(24.48% 39.17 57.59)</strong></div>
  <div class="lch-color-item chocolate">chocolate<br /><strong>lch(10.12% 17.27 54.62)</strong></div>
  <div class="lch-color-item tortilla">tortilla<br /><strong>lch(53.88% 29.9 74.2)</strong></div>
  <div class="lch-color-item umber">umber<br /><strong>lch(16.02% 14.95 63.18)</strong></div>
  <div class="lch-color-item tawny">tawny<br /><strong>lch(36.92% 40.7 59.88)</strong></div>
  <div class="lch-color-item brunette">brunette<br /><strong>lch(14.7% 22.44 57.98)</strong></div>
  <div class="lch-color-item cinammon">cinammon<br /><strong>lch(25.54% 39.64 51.06)</strong></div>
  <div class="lch-color-item penny">penny<br /><strong>lch(21.99% 28.25 50.09)</strong></div>
</div>

<h3>greys</h3>
<div class="color-container">
  <div class="lch-color-item grey">grey<br /><strong>lch(69.61% 0 0)</strong></div>
  <div class="lch-color-item shadow">shadow<br /><strong>lch(23.07% 0 0)</strong></div>
  <div class="lch-color-item graphite">graphite<br /><strong>lch(34.24% 9.48 316.83)</strong></div>
  <div class="lch-color-item iron">iron<br /><strong>lch(19.24% 3.8 336.09)</strong></div>
  <div class="lch-color-item pewter">pewter<br /><strong>lch(44.86% 13.96 290.18)</strong></div>
  <div class="lch-color-item cloud">cloud<br /><strong>lch(79.77% 5.73 285.68)</strong></div>
  <div class="lch-color-item silver">silver<br /><strong>lch(88.12% 0 0)</strong></div>
  <div class="lch-color-item smoke">smoke<br /><strong>lch(35.63% 8.94 309.09)</strong></div>
  <div class="lch-color-item anchor">anchor<br /><strong>lch(28.26% 6.32 286.28)</strong></div>
  <div class="lch-color-item ash">ash<br /><strong>lch(33.25% 4.11 11.82)</strong></div>
  <div class="lch-color-item porpoise">porpoise<br /><strong>lch(32.88% 9.84 289.18)</strong></div>
  <div class="lch-color-item dove">dove<br /><strong>lch(48.2% 10.96 318.05)</strong></div>
  <div class="lch-color-item fog">fog<br /><strong>lch(39.32% 8.49 323.6)</strong></div>
  <div class="lch-color-item flint">flint<br /><strong>lch(52.98% 18.06 288.36)</strong></div>
  <div class="lch-color-item pebble">pebble<br /><strong>lch(21.25% 0 0)</strong></div>
  <div class="lch-color-item lead">lead<br /><strong>lch(27.2% 9.51 289.47)</strong></div>
  <div class="lch-color-item coin">coin<br /><strong>lch(62.99% 9.82 288.4)</strong></div>
  <div class="lch-color-item fossil">fossil<br /><strong>lch(48.69% 3.27 335.69)</strong></div>
</div>

<h3>Blacks</h3>
<div class="color-container">
  <div class="lch-color-item black">black<br /><strong>lch(5.06% 0 0)</strong></div>
  <div class="lch-color-item ebony">ebony<br /><strong>lch(1.29% 1.72 63.15)</strong></div>
  <div class="lch-color-item crow">crow<br /><strong>lch(13.48% 2.74 69.53)</strong></div>
  <div class="lch-color-item charcoal">charcoal<br /><strong>lch(12.57% 2.27 312.31)</strong></div>
</div>