<h3>Whites</h3>
<div class="color-container">
  <div class="color-item white">white<br/><strong>#fffefc</strong></div>
  <div class="color-item pearl">pearl<br/><strong>#fbfcf7</strong></div>
  <div class="color-item alabaster">alabaster<br/><strong>#fefaf0</strong></div>
  <div class="color-item snow">snow<br/><strong>#f4fefd</strong></div>
  <div class="color-item ivory">ivory<br/><strong>#fef7e5</strong></div>
  <div class="color-item cream">cream<br/><strong>#fffbda</strong></div>
  <div class="color-item eggshell">eggshell<br/><strong>#fef9e3</strong></div>
  <div class="color-item cotton">cotton<br/><strong>#fbfcf7</strong></div>
  <div class="color-item chiffon">chiffon<br/><strong>#fafaf1</strong></div>
  <div class="color-item salt">salt<br/><strong>#f8efec</strong></div>
  <div class="color-item lace">lace<br/><strong>#faf3ea</strong></div>
  <div class="color-item coconut">coconut<br/><strong>#fff1e6</strong></div>
  <div class="color-item linen">linen<br/><strong>#f2ebd3</strong></div>
  <div class="color-item bone">bone<br/><strong>#e7dfcc</strong></div>
  <div class="color-item porcelain">porcelain<br/><strong>#fffffc</strong></div>
  <div class="color-item parchment">parchment<br/><strong>#fcf6df</strong></div>
  <div class="color-item rice">rice<br/><strong>#fbf6ef</strong></div>
</div>
