<h3>Yellows</h3>
<div class="color-container"> 
  <div class="color-item yellow">yellow<br/><strong>#ffdc00</strong></div>
  <div class="color-item canary">canary<br/><strong>#fac801</strong></div>
  <div class="color-item gold">gold<br/><strong>#f9a602</strong></div>
  <div class="color-item daffodil">daffodil<br/><strong>#feee88</strong></div>
  <div class="color-item flaxen">flaxen<br/><strong>#d5b65a</strong></div>
  <div class="color-item butter">butter<br/><strong>#fee226</strong></div>
  <div class="color-item lemon">lemon<br/><strong>#effd5f</strong></div>
  <div class="color-item mustard">mustard<br/><strong>#e9b829</strong></div>
  <div class="color-item corn">corn<br/><strong>#e4cd04</strong></div>
  <div class="color-item medallion">medallion<br/><strong>#e4b103</strong></div>
  <div class="color-item dandelion">dandelion<br/><strong>#fdce2a</strong></div>
  <div class="color-item bumblebee">bumblebee<br/><strong>#fce206</strong></div>
  <div class="color-item banana">banana<br/><strong>#fcf4a3</strong></div>
  <div class="color-item butterscotch">butterscotch<br/><strong>#fabd04</strong></div>
  <div class="color-item dijon">dijon<br/><strong>#c29200</strong></div>
  <div class="color-item honey">honey<br/><strong>#ec9707</strong></div>
  <div class="color-item blonde">blonde<br/><strong>#fdeb75</strong></div>
  <div class="color-item pineapple">pineapple<br/><strong>#ffe327</strong></div>
  <div class="color-item tuscansun">tuscansun<br/><strong>#fcd12a</strong></div>
</div>
