<h3>Oranges</h3>
<div class="color-container">
  <div class="color-item orange">orange<br/><strong>#ff851b</strong></div>
  <div class="color-item tangerine">tangerine<br/><strong>#f98228</strong></div>
  <div class="color-item merigold">merigold<br/><strong>#fdae1d</strong></div>
  <div class="color-item cider">cider<br/><strong>#b66827</strong></div>
  <div class="color-item rust">rust<br/><strong>#8c4005</strong></div>
  <div class="color-item ginger">ginger<br/><strong>#bc5703</strong></div>
  <div class="color-item tiger">tiger<br/><strong>#fb6b02</strong></div>
  <div class="color-item bronze">bronze<br/><strong>#b2560c</strong></div>
  <div class="color-item cantaloupe">cantaloupe<br/><strong>#fca172</strong></div>
  <div class="color-item apricot">apricot<br/><strong>#ed810f</strong></div>
  <div class="color-item carrot">carrot<br/><strong>#ed7116</strong></div>
  <div class="color-item squash">squash<br/><strong>#c95c09</strong></div>
  <div class="color-item spice">spice<br/><strong>#7a3a03</strong></div>
  <div class="color-item marmalade">marmalade<br/><strong>#d16102</strong></div>
  <div class="color-item amber">amber<br/><strong>#893201</strong></div>
  <div class="color-item sandstone">sandstone<br/><strong>#d57128</strong></div>
  <div class="color-item yam">yam<br/><strong>#cc5801</strong></div>
</div>
