<h3>Blacks</h3>
<div class="color-container">
  <div class="color-item black">black<br/><strong>#111111</strong></div>
  <div class="color-item ebony">ebony<br/><strong>#080401</strong></div>
  <div class="color-item crow">crow<br/><strong>#25221F</strong></div>
  <div class="color-item charcoal">charcoal<br/><strong>#22202</strong></div>
</div>

