.has-sidebar .content-area {
  margin: 0 -25% 0 -25%;
  width: 100%;
}

.has-sidebar .site-main {
  margin: 0 0 0 25%;
}

.has-sidebar .site-content .sidebar1 {
  float: left;
  overflow: hidden;
  width: 25%;
}

.has-sidebar .site-content .sidebar2 {
  float: right;
  overflow: hidden;
  width: 25%;
}

.has-sidebar .site-footer {
  clear: both;
  width: 100%;
}

.no-sidebar .content-area {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.no-sidebar .site-main {
  margin-right: 0;
}

@supports (display: grid) {
  .no-sidebar .site {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1em 1em;
  }
  .no-sidebar .site-header {
    grid-column: 2/-2;
  }
  .no-sidebar .site-content {
    grid-column: 3/7;
    width: 100%;
  }
  .no-sidebar .site-footer {
    grid-column: 3/8;
  }
  .no-sidebar .has-sidebar .site {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1em 1em;
  }
  .no-sidebar .has-sidebar .site-header {
    grid-column: 2/-2;
    grid-row: 2;
  }
  .no-sidebar .has-sidebar .sidebar {
    overflow: hidden;
  }
  .no-sidebar .has-sidebar .sidebar1 {
    grid-column: 1/1;
    grid-row: 3;
    width: 20%;
  }
  .no-sidebar .has-sidebar .site-content {
    grid-column: 3/7;
    grid-row: 3;
  }
  .no-sidebar .has-sidebar .sidebar2 {
    grid-column: -2/-2;
    grid-row: 3;
    width: 20%;
  }
  .no-sidebar .has-sidebar .site-footer {
    grid-column: 3/8;
  }
  @media screen and (max-width: 800px) {
    @supports (display: grid) {
      .no-sidebar .site-header {
        grid-column: 1/-1;
        margin: 2em;
      }
      .no-sidebar .site-content {
        grid-column: 1/-1;
        width: 80%;
        margin: 2em;
      }
      .no-sidebar .site-footer {
        grid-column: 1/-1;
      }
      .has-sidebar .site {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
        grid-auto-rows: minmax(200px, auto);
        grid-gap: 1em 1em;
      }
      .has-sidebar .site-header {
        grid-column: 1/-1;
      }
      .has-sidebar .site-content {
        grid-column: 1/-1;
      }
      .has-sidebar .sidebar {
        overflow: hidden;
      }
      .has-sidebar .sidebar1 {
        grid-column: 1/-1;
      }
      .has-sidebar .sidebar2 {
        grid-column: 1/-1;
      }
      .has-sidebar .site-footer {
        grid-column: 1/-1;
      }
    }
  }
}
