<h1>Color Palettes</h1>
<h2>The New Defaults</h2>

<h3>blues</h3>
<div class="color-container">
  <div class="oklch-color-item blue">blue<br /><strong>oklch(0.56 0.18 254)</strong></div>
  <div class="oklch-color-item navy">navy<br /><strong>oklch(0.24 0.07 252)</strong></div>
  <div class="oklch-color-item aqua">aqua<br /><strong>oklch(0.85 0.1 225)</strong></div>
  <div class="oklch-color-item sky">sky<br /><strong>oklch(0.73 0.16 238)</strong></div>
  <div class="oklch-color-item teal">teal<br /><strong>oklch(0.77 0.12 195)</strong></div>
  <div class="oklch-color-item slate">slate<br /><strong>oklch(0.58 0.02 264)</strong></div>
  <div class="oklch-color-item indigo">indigo<br /><strong>oklch(0.29 0.11 285)</strong></div>
  <div class="oklch-color-item cobalt">cobalt<br /><strong>oklch(0.42 0.21 265)</strong></div>
  <div class="oklch-color-item ocean">ocean<br /><strong>oklch(0.44 0.07 199)</strong></div>
  <div class="oklch-color-item peacock">peacock<br /><strong>oklch(0.27 0.05 217)</strong></div>
  <div class="oklch-color-item azure">azure<br /><strong>oklch(0.36 0.2 268)</strong></div>
  <div class="oklch-color-item cerulean">cerulean<br /><strong>oklch(0.62 0.12 231)</strong></div>
  <div class="oklch-color-item lapis">lapis<br /><strong>oklch(0.42 0.22 269)</strong></div>
  <div class="oklch-color-item spruce">spruce<br /><strong> oklch(0.35 0.03 240)</strong></div>
  <div class="oklch-color-item stone">stone<br /><strong>oklch(0.56 0.05 238)</strong></div>
  <div class="oklch-color-item aegean">aegean<br /><strong>oklch(0.38 0.08 252)</strong></div>
  <div class="oklch-color-item berry">berry<br /><strong>oklch(0.29 0.14 280)</strong></div>
  <div class="oklch-color-item denim">denim<br /><strong>oklch(0.24 0.06 268)</strong></div>
  <div class="oklch-color-item admiral">admiral<br /><strong>oklch(0.31 0.2 265)</strong></div>
  <div class="oklch-color-item sapphire">sapphire<br /><strong>oklch(0.71 0.09 208)</strong></div>
  <div class="oklch-color-item arctic">arctic<br /><strong>oklch(0.89 0.1 208)</strong></div>
</div>
