<h1>Color Palettes</h1>
<h2>The New Defaults</h2>

<h3>Oranges</h3>
<div class="color-container">
  <div class="oklch-color-item orange">orange<br /><strong>oklch(0.74 0.18 53.5)</strong></div>
  <div class="oklch-color-item tangerine">tangerine<br /><strong>oklch(0.73 0.17 51.9)</strong></div>
  <div class="oklch-color-item merigold">merigold<br /><strong>oklch(0.81 0.16 74.9)</strong></div>
  <div class="oklch-color-item cider">cider<br /><strong>oklch(0.59 0.13 56.2)</strong></div>
  <div class="oklch-color-item rust">rust<br /><strong>oklch(0.46 0.12 49.7)</strong></div>
  <div class="oklch-color-item ginger">ginger<br /><strong>oklch(0.57 0.15 49.7)</strong></div>
  <div class="oklch-color-item tiger">tiger<br /><strong>oklch(0.7 0.2 45.6)</strong></div>
  <div class="oklch-color-item bronze">bronze<br /><strong>oklch(0.56 0.14 50.9)</strong></div>
  <div class="oklch-color-item cantaloupe">cantaloupe<br /><strong>oklch(0.79 0.13 47.7)</strong></div>
  <div class="oklch-color-item apricot">apricot<br /><strong>oklch(0.71 0.17 57.1)</strong></div>
  <div class="oklch-color-item carrot">carrot<br /><strong>oklch(0.68 0.18 49.1)</strong></div>
  <div class="oklch-color-item squash">squash<br /><strong>oklch(0.6 0.16 48.5)</strong></div>
  <div class="oklch-color-item spice">spice<br /><strong>oklch(0.42 0.11 52.4)</strong></div>
  <div class="oklch-color-item marmalade">marmalade<br /><strong>oklch(0.62 0.16 49.6)</strong></div>
  <div class="oklch-color-item amber">amber<br /><strong>oklch(0.44 0.13 42.7)</strong></div>
  <div class="oklch-color-item sandstone">sandstone<br /><strong>oklch(0.65 0.15 52)</strong></div>
  <div class="oklch-color-item yam">yam<br /><strong>oklch(0.6 0.17 46.7)</strong></div>
</div>

