<h1>Color Palettes</h1>
<h2>The New Defaults</h2>

<h3>greens</h3>
<div class="color-container">
  <div class="oklch-color-item green">green<br /><strong>oklch(0.74 0.22 144)</strong></div>
  <div class="oklch-color-item chartreuse">chartreuse<br /><strong>oklch(0.91 0.23 129)</strong></div>
  <div class="oklch-color-item juniper">juniper<br /><strong>oklch(0.41 0.1 129)</strong></div>
  <div class="oklch-color-item sage">sage<br /><strong>oklch(0.61 0.06 138)</strong></div>
  <div class="oklch-color-item lime">lime<br /><strong>oklch(0.87 0.25 149)</strong></div>
  <div class="oklch-color-item fern">fern<br /><strong>oklch(0.72 0.15 145)</strong></div>
  <div class="oklch-color-item olive">olive<br /><strong>oklch(0.76 0.13 128)</strong></div>
  <div class="oklch-color-item emerald">emerald<br /><strong>oklch(0.55 0.18 143)</strong></div>
  <div class="oklch-color-item pear">pear<br /><strong>oklch(0.71 0.18 132)</strong></div>
  <div class="oklch-color-item moss">moss<br /><strong>oklch(0.49 0.12 132)</strong></div>
  <div class="oklch-color-item shamrock">shamrock<br /><strong>oklch(0.65 0.22 143)</strong></div>
  <div class="oklch-color-item seafoam">seafoam<br /><strong>oklch(0.84 0.18 156)</strong></div>
  <div class="oklch-color-item pine">pine<br /><strong>oklch(0.39 0.09 141)</strong></div>
  <div class="oklch-color-item parakeet">parakeet<br /><strong>oklch(0.7 0.21 147)</strong></div>
  <div class="oklch-color-item mint">mint<br /><strong>oklch(0.88 0.1 162)</strong></div>
  <div class="oklch-color-item seaweed">seaweed<br /><strong>oklch(0.38 0.07 132)</strong></div>
  <div class="oklch-color-item pickle">pickle<br /><strong>oklch(0.55 0.11 131)</strong></div>
  <div class="oklch-color-item pistachio">pistachio<br /><strong>oklch(0.84 0.04 161)</strong></div>
  <div class="oklch-color-item basil">basil<br /><strong>oklch(0.45 0.1 142)</strong></div>
  <div class="oklch-color-item crocodile">crocodile<br /><strong>oklch(0.55 0.1 129)</strong></div>
</div>
