<h1>Color Palettes</h1>
<h2>The New Defaults</h2>

<h3>Browns</h3>
<div class="color-container">
  <div class="oklch-color-item brown">brown<br /><strong>oklch(0.22 0.03 66.9)</strong></div>
  <div class="oklch-color-item coffee">coffee<br /><strong>oklch(0.3 0.05 74.1)</strong></div>
  <div class="oklch-color-item mocha">mocha<br /><strong>oklch(0.3 0.05 74.1)</strong></div>
  <div class="oklch-color-item peanut">peanut<br /><strong>oklch(0.5 0.07 74)</strong></div>
  <div class="oklch-color-item carob">carob<br /><strong>oklch(0.28 0.04 76.2)</strong></div>
  <div class="oklch-color-item hickory">hickory<br /><strong>oklch(0.26 0.05 46.6)</strong></div>
  <div class="oklch-color-item pecan">pecan<br /><strong>oklch(0.31 0.06 46.5)</strong></div>
  <div class="oklch-color-item walnut">walnut<br /><strong>oklch(0.3 0.05 56.9)</strong></div>
  <div class="oklch-color-item caramel">caramel<br /><strong>oklch(0.39 0.08 55)</strong></div>
  <div class="oklch-color-item gingerbread">gingerbread<br /><strong>oklch(0.35 0.09 52.9)</strong></div>
  <div class="oklch-color-item chocolate">chocolate<br /><strong>oklch(0.23 0.05 59.9)</strong></div>
  <div class="oklch-color-item tortilla">tortilla<br /><strong>oklch(0.6 0.07 75.4)</strong></div>
  <div class="oklch-color-item umber">umber<br /><strong>oklch(0.28 0.04 61.9)</strong></div>
  <div class="oklch-color-item tawny">tawny<br /><strong>oklch(0.46 0.09 56.9)</strong></div>
  <div class="oklch-color-item brunette">brunette<br /><strong>oklch(0.27 0.05 57.6)</strong></div>
  <div class="oklch-color-item cinammon">cinammon<br /><strong>oklch(0.36 0.09 44.9)</strong></div>
  <div class="oklch-color-item penny">penny<br /><strong>oklch(0.33 0.07 45.4)</strong></div>
</div>
