<h1>Color Palettes</h1>
<h2>The New Defaults</h2>


<h3>greys</h3>
<div class="color-container">
  <div class="oklch-color-item grey">grey<br /><strong>oklch(0.74 0 0)</strong></div>
  <div class="oklch-color-item shadow">shadow<br /><strong>oklch(0.34 0 0)</strong></div>
  <div class="oklch-color-item graphite">graphite<br /><strong>oklch(0.44 0.03 319)</strong></div>
  <div class="oklch-color-item iron">iron<br /><strong>oklch(0.31 0.01 338)</strong></div>
  <div class="oklch-color-item pewter">pewter<br /><strong>oklch(0.53 0.04 289)</strong></div>
  <div class="oklch-color-item cloud">cloud<br /><strong>oklch(0.83 0.02 286)</strong></div>
  <div class="oklch-color-item silver">silver<br /><strong>oklch(0.9 0 0)</strong></div>
  <div class="oklch-color-item smoke">smoke<br /><strong>oklch(0.45 0.02 311)</strong></div>
  <div class="oklch-color-item anchor">anchor<br /><strong>oklch(0.38 0.02 286)</strong></div>
  <div class="oklch-color-item ash">ash<br /><strong>oklch(0.43 0.01 9.96)</strong></div>
  <div class="oklch-color-item porpoise">porpoise<br /><strong>oklch(0.42 0.03 288)</strong></div>
  <div class="oklch-color-item dove">dove<br /><strong>oklch(0.56 0.03 320)</strong></div>
  <div class="oklch-color-item fog">fog<br /><strong>oklch(0.48 0.02 326)</strong></div>
  <div class="oklch-color-item flint">flint<br /><strong>oklch(0.6 0.05 286)</strong></div>
  <div class="oklch-color-item pebble">pebble<br /><strong>oklch(0.32 0 0)</strong></div>
  <div class="oklch-color-item lead">lead<br /><strong>oklch(0.37 0.03 288)</strong></div>
  <div class="oklch-color-item coin">coin<br /><strong>oklch(0.68 0.03 288)</strong></div>
  <div class="oklch-color-item fossil">fossil<br /><strong>oklch(0.56 0.01 338)</strong></div>
</div>
