<h2>Relative syntax</h2>

<p>This module will only work in Safari 16.x</p>

<div class="content">
    <h2>Base Color: #663399 (rebeccapurple)</h2>
    <div class="container">
      <div class="box theme-900">900</div>
      <div class="box theme-800">800</div>
      <div class="box theme-700">700</div>
      <div class="box theme-600">600</div>
      <div class="box theme-500">500</div>
      <div class="box theme-400">400</div>
      <div class="box theme-300">300</div>
      <div class="box theme-200">200</div>
      <div class="box theme-100">100</div>
    </div>

    <h2>Base Color: #3643c2</h2>
    <div class="container">
      <div class="box theme-secondary-900">900</div>
      <div class="box theme-secondary-800">800</div>
      <div class="box theme-secondary-700">700</div>
      <div class="box theme-secondary-600">600</div>
      <div class="box theme-secondary-500">500</div>
      <div class="box theme-secondary-400">400</div>
      <div class="box theme-secondary-300">300</div>
      <div class="box theme-secondary-200">200</div>
      <div class="box theme-secondary-100">100</div>
    </div>

    <h2>Base color: #d2042d</h2>
    <div class="container">
      <div class="box theme-tertiary-900">900</div>
      <div class="box theme-tertiary-800">800</div>
      <div class="box theme-tertiary-700">700</div>
      <div class="box theme-tertiary-600">600</div>
      <div class="box theme-tertiary-500">500</div>
      <div class="box theme-tertiary-400">400</div>
      <div class="box theme-tertiary-300">300</div>
      <div class="box theme-tertiary-200">200</div>
      <div class="box theme-tertiary-100">100</div>
    </div>
  </div>