<h3>Funky Colors</h3>
{{!-- 
  --color-plum-crazy: ;
  --color-cherry: oklch(0.55 0.22 22.6);
  --color-black-cherry: ;
  --color-panther-pink: ;
  --color-green-go: ;
  --color-sublime-green: ;
  --color-go-mango: ;
 --}}
<div class="color-container">
  <div class="color-item hemi-orange">Hemi Orange<br><strong>oklch(0.7 0.17 48.1)</strong></div>
  <div class="color-item plum-crazy">Plum Crazy Purple<br><strong>oklch(0.45 0.25 294)</strong></div>
  <div class="color-item black-cherry">Black Cherry<br><strong>oklch(0.33 0.07 352)</strong></div>
  <div class="color-item panther-pink">Panther Pink<br><strong>oklch(0.58 0.19 340)</strong></div>
  <div class="color-item green-go">Green Go<br><strong>oklch(0.61 0.15 148)</strong></div>
  <div class="color-item sublime-green">Sublime Green<br>oklch(0.83 0.2 129)</strong></div>
  <div class="color-item go-mango">Go Mango<br><strong>oklch(0.62 0.17 28.2)</strong></div>
  <div class="color-item bright-green">Bright Green<br><strong>oklch(0.88 0.28 138)</strong></div>
  <div class="color-item top-banana">Top Banana<br /><strong>oklch(0.93 0.17 103)</strong></div>
  <div class="color-item citron-yella">Citron Yella<br><strong>oklch(0.7 0.15 114)</strong></div>
  <div class="color-item rebeccapurple">rebeccapurple<br><strong>oklch(0.44 0.16 303)</strong></div>
</div>
