<h1>Color Palettes</h1>

{{!-- <div class="color-container">
  <div class='color-item color-10'>&nbsp;</div>
  <div class='color-item color-20'>&nbsp;</div>
  <div class='color-item color-30'>&nbsp;</div>
  <div class='color-item color-40'>&nbsp;</div>
  <div class='color-item color-50'>&nbsp;</div>
</div>

<h2>Material Design Custom Palettte</h2>

<div class="color-container">
  <div class="color-item md-primaryColor">&nbsp;</div>
  <div class="color-item md-primaryLightColor">&nbsp;</div>
  <div class="color-item md-primaryDarkColor">&nbsp;</div>
  <div class="color-item md-secondaryColor">&nbsp;</div>
  <div class="color-item md-secondaryLightColor">&nbsp;</div>
  <div class="color-item md-secondaryDarkColor">&nbsp;</div>
  <div class="color-item md-primaryTextColor">&nbsp;</div>
  <div class="color-item md-secondaryTextColor">&nbsp;</div>
</div>

<!-- 
TODO: Finish the material design baseline colors
--> --}}

<h2>Links</h2>

{{> @links}}

<h2>The New Defaults</h2>

<h3>Whites</h3>
<div class="color-container">
  <div class="color-item white">white<br/><strong>#fffefc</strong></div>
  <div class="color-item pearl">pearl<br/><strong>#fbfcf7</strong></div>
  <div class="color-item alabaster">alabaster<br/><strong>#fefaf0</strong></div>
  <div class="color-item snow">snow<br/><strong>#f4fefd</strong></div>
  <div class="color-item ivory">ivory<br/><strong>#fef7e5</strong></div>
  <div class="color-item cream">cream<br/><strong>#fffbda</strong></div>
  <div class="color-item eggshell">eggshell<br/><strong>#fef9e3</strong></div>
  <div class="color-item cotton">cotton<br/><strong>#fbfcf7</strong></div>
  <div class="color-item chiffon">chiffon<br/><strong>#fafaf1</strong></div>
  <div class="color-item salt">salt<br/><strong>#f8efec</strong></div>
  <div class="color-item lace">lace<br/><strong>#faf3ea</strong></div>
  <div class="color-item coconut">coconut<br/><strong>#fff1e6</strong></div>
  <div class="color-item linen">linen<br/><strong>#f2ebd3</strong></div>
  <div class="color-item bone">bone<br/><strong>#e7dfcc</strong></div>
  <div class="color-item porcelain">porcelain<br/><strong>#fffffc</strong></div>
  <div class="color-item parchment">parchment<br/><strong>#fcf6df</strong></div>
  <div class="color-item rice">rice<br/><strong>#fbf6ef</strong></div>
</div>

<h3>blues</h3>
<div class="color-container">
  <div class="color-item blue">blue<br/><strong>#0074d9</strong></div>
  <div class="color-item navy">navy<br/><strong>#001f3f</strong></div>
  <div class="color-item aqua">aqua<br/><strong>#7fdbff</strong></div>
  <div class="color-item sky">sky<br/><strong>#00b2ff</strong></div>
  <div class="color-item teal">teal<br/><strong>#39cccc</strong></div>
  <div class="color-item slate">slate<br/><strong>#757b87</strong></div>
  <div class="color-item indigo">indigo<br/><strong>#281e5d</strong></div>
  <div class="color-item cobalt">cobalt<br/><strong>#1438bd</strong></div>
  <div class="color-item ocean">ocean<br/><strong>#026063</strong></div>
  <div class="color-item peacock">peacock<br/><strong>#002d37</strong></div>
  <div class="color-item azure">azure<br/><strong>#1621a6</strong></div>
  <div class="color-item cerulean">cerulean<br/><strong>#0592c2</strong></div>
  <div class="color-item lapis">lapis<br/><strong>#2632c2</strong></div>
  <div class="color-item spruce">spruce<br/><strong>#2c3e4b</strong></div>
  <div class="color-item stone">stone<br/><strong>#59788d</strong></div>
  <div class="color-item aegean">aegean<br/><strong>#1e456e</strong></div>
  <div class="color-item berry">berry<br/><strong>#24146f</strong></div>
  <div class="color-item denim">denim<br/><strong>#141e3c</strong></div>
  <div class="color-item admiral">admiral<br/><strong>#061094</strong></div>
  <div class="color-item sapphire">sapphire<br/><strong>#52b2c0</strong></div>
  <div class="color-item arctic">arctic<br/><strong>#82edfd</strong></div>
</div>

<h3>browns</h3>
<div class="color-container">
  <div class="color-item tan">tan<br/><strong>#e5dbac</strong></div>
  <div class="color-item beige">beige<br/><strong>#ecdc99</strong></div>
  <div class="color-item macaroon">macaroon<br/><strong>#f7df75</strong></div>
  <div class="color-item hazelwood">hazelwood<br/><strong>#c9bc8e</strong></div>
  <div class="color-item granola">granola<br/><strong>#d6b75a</strong></div>
  <div class="color-item oat">oat<br/><strong>#dec98a</strong></div>
  <div class="color-item eggnog">eggnog<br/><strong>#fbe29d</strong></div>
  <div class="color-item fawn">fawn<br/><strong>#c7a951</strong></div>
  <div class="color-item sugarcookie">sugarcookie<br/><strong>#f3ebad</strong></div>
  <div class="color-item sand">sand<br/><strong>#d7b963</strong></div>
  <div class="color-item sepia">sepia<br/><strong>#e3b678</strong></div>
  <div class="color-item latte">latte<br/><strong>#e9c17b</strong></div>
  <div class="color-item oyster">oyster<br/><strong>#dcd69f</strong></div>
  <div class="color-item biscotti">biscotti<br/><strong>#e3c565</strong></div>
  <div class="color-item parmesean">parmesean<br/><strong>#fee993</strong></div>
  <div class="color-item hazelnut">hazelnut<br/><strong>#bda55d</strong></div>
  <div class="color-item sandcastle">sandcastle<br/><strong>#dbc27d</strong></div>
  <div class="color-item buttermilk">buttermilk<br/><strong>#fdefb2</strong></div>
  <div class="color-item sanddollar">sanddollar<br/><strong>#ebe7b9</strong></div>
  <div class="color-item shortbread">shortbread<br/><strong>#fce791</strong></div>
</div>

<h3>Yellows</h3>
<div class="color-container"> 
  <div class="color-item yellow">yellow<br/><strong>#ffdc00</strong></div>
  <div class="color-item canary">canary<br/><strong>#fac801</strong></div>
  <div class="color-item gold">gold<br/><strong>#f9a602</strong></div>
  <div class="color-item daffodil">daffodil<br/><strong>#feee88</strong></div>
  <div class="color-item flaxen">flaxen<br/><strong>#d5b65a</strong></div>
  <div class="color-item butter">butter<br/><strong>#fee226</strong></div>
  <div class="color-item lemon">lemon<br/><strong>#effd5f</strong></div>
  <div class="color-item mustard">mustard<br/><strong>#e9b829</strong></div>
  <div class="color-item corn">corn<br/><strong>#e4cd04</strong></div>
  <div class="color-item medallion">medallion<br/><strong>#e4b103</strong></div>
  <div class="color-item dandelion">dandelion<br/><strong>#fdce2a</strong></div>
  <div class="color-item bumblebee">bumblebee<br/><strong>#fce206</strong></div>
  <div class="color-item banana">banana<br/><strong>#fcf4a3</strong></div>
  <div class="color-item butterscotch">butterscotch<br/><strong>#fabd04</strong></div>
  <div class="color-item dijon">dijon<br/><strong>#c29200</strong></div>
  <div class="color-item honey">honey<br/><strong>#ec9707</strong></div>
  <div class="color-item blonde">blonde<br/><strong>#fdeb75</strong></div>
  <div class="color-item pineapple">pineapple<br/><strong>#ffe327</strong></div>
  <div class="color-item tuscansun">tuscansun<br/><strong>#fcd12a</strong></div>
</div>

<h3>Oranges</h3>
<div class="color-container">
  <div class="color-item orange">orange<br/><strong>#ff851b</strong></div>
  <div class="color-item tangerine">tangerine<br/><strong>#f98228</strong></div>
  <div class="color-item merigold">merigold<br/><strong>#fdae1d</strong></div>
  <div class="color-item cider">cider<br/><strong>#b66827</strong></div>
  <div class="color-item rust">rust<br/><strong>#8c4005</strong></div>
  <div class="color-item ginger">ginger<br/><strong>#bc5703</strong></div>
  <div class="color-item tiger">tiger<br/><strong>#fb6b02</strong></div>
  <div class="color-item bronze">bronze<br/><strong>#b2560c</strong></div>
  <div class="color-item cantaloupe">cantaloupe<br/><strong>#fca172</strong></div>
  <div class="color-item apricot">apricot<br/><strong>#ed810f</strong></div>
  <div class="color-item carrot">carrot<br/><strong>#ed7116</strong></div>
  <div class="color-item squash">squash<br/><strong>#c95c09</strong></div>
  <div class="color-item spice">spice<br/><strong>#7a3a03</strong></div>
  <div class="color-item marmalade">marmalade<br/><strong>#d16102</strong></div>
  <div class="color-item amber">amber<br/><strong>#893201</strong></div>
  <div class="color-item sandstone">sandstone<br/><strong>#d57128</strong></div>
  <div class="color-item yam">yam<br/><strong>#cc5801</strong></div>
</div>

<h3>reds</h3>
<div class="color-container">
  <div class="color-item red">red<br/><strong>#ff4136</strong></div>
  <div class="color-item cherry">cherry<br/><strong>#9a0f02</strong></div>
  <div class="color-item rose">rose<br/><strong>#e2252a</strong></div>
  <div class="color-item jam">jam<br/><strong>#600f0b</strong></div>
  <div class="color-item merlot">merlot<br/><strong>#541f1b</strong></div>
  <div class="color-item garnet">garnet<br/><strong>#5f0a04</strong></div>
  <div class="color-item crimson">crimson<br/><strong>#b8100a</strong></div>
  <div class="color-item ruby">ruby<br/><strong>#900503</strong></div>
  <div class="color-item scarlet">scarlet<br/><strong>#910d08</strong></div>
  <div class="color-item redwine">redwine<br/><strong>#4c0805</strong></div>
  <div class="color-item redapple">redapple<br/><strong>#a91b0d</strong></div>
  <div class="color-item mahogany">mahogany<br/><strong>#420d09</strong></div>
  <div class="color-item blood">blood<br/><strong>#710c04</strong></div>
  <div class="color-item sangria">sangria<br/><strong>#5f1914</strong></div>
  <div class="color-item currant">currant<br/><strong>#670c07</strong></div>
  <div class="color-item blush">blush<br/><strong>#bb544a</strong></div>
  <div class="color-item candy">candy<br/><strong>#d31603</strong></div>
  <div class="color-item lipstick">lipstick<br/><strong>#9b0f02</strong></div>
</div>

<h3>Pinks</h3>
<div class="color-container">
  <div class="color-item pink">pink<br/><strong>#f69acd</strong></div>
  <div class="color-item fuchsia">fuchsia<br/><strong>#f012be</strong></div>
  <div class="color-item punch">punch<br/><strong>#f25278</strong></div>
  <div class="color-item watermelon">watermelon<br/><strong>#fe809c</strong></div>
  <div class="color-item flamingo">flamingo<br/><strong>#fda4b8</strong></div>
  <div class="color-item rouge">rouge<br/><strong>#f26c8c</strong></div>
  <div class="color-item salmon">salmon<br/><strong>#fdab9f</strong></div>
  <div class="color-item coral">coral<br/><strong>#fe7d67</strong></div>
  <div class="color-item peach">peach<br/><strong>#fb9483</strong></div>
  <div class="color-item strawberry">strawberry<br/><strong>#fc4c4e</strong></div>
  <div class="color-item rosewood">rosewood<br/><strong>#a04242</strong></div>
  <div class="color-item lemonade">lemonade<br/><strong>#fabacb</strong></div>
  <div class="color-item taffy">taffy<br/><strong>#fa85c4</strong></div>
  <div class="color-item bubblegum">bubblegum<br/><strong>#fd5ca8</strong></div>
  <div class="color-item balletslipper">balletslipper<br/><strong>#f69abf</strong></div>
  <div class="color-item crepe">crepe<br/><strong>#f1b7c6</strong></div>
  <div class="color-item maroon">maroon<br/><strong>#85144b</strong></div>
  <div class="color-item hotpink">hotpink<br/><strong>#ff1696</strong></div>
</div>    

<h3>purples</h3>
<div class="color-container">
  <div class="color-item purple">purple<br/><strong>#b10dc9</strong></div>
  <div class="color-item mauve">mauve<br/><strong>#7a4a89</strong></div>
  <div class="color-item violet">violet<br/><strong>#710193</strong></div>
  <div class="color-item boysenberry">boysenberry<br/><strong>#630536</strong></div>
  <div class="color-item lavender">lavender<br/><strong>#e3a0f6</strong></div>
  <div class="color-item plum">plum<br/><strong>#601a36</strong></div>
  <div class="color-item lilac">lilac<br/><strong>#b65fcd</strong></div>
  <div class="color-item periwinkle">periwinkle<br/><strong>#be93d4</strong></div>
  <div class="color-item eggplant">eggplant<br/><strong>#311431</strong></div>
  <div class="color-item iris">iris<br/><strong>#9866c5</strong></div>
  <div class="color-item heather">heather<br/><strong>#9b7cb9</strong></div>
  <div class="color-item amethyst">amethyst<br/><strong>#a45de4</strong></div>
  <div class="color-item raisin">raisin<br/><strong>#290916</strong></div>
  <div class="color-item orchid">orchid<br/><strong>#af69ee</strong></div>
  <div class="color-item mulberry">mulberry<br/><strong>#4d0220</strong></div>
</div>

<h3>greens</h3>
<div class="color-container">
  <div class="color-item green">green<br/><strong>#2ecc40</strong></div>
  <div class="color-item chartreuse">chartreuse<br/><strong>#b0fd38</strong></div>
  <div class="color-item juniper">juniper<br/><strong>#395311</strong></div>
  <div class="color-item sage">sage<br/><strong>#728c69</strong></div>
  <div class="color-item lime">lime<br/><strong>#01ff70</strong></div>
  <div class="color-item fern">fern<br/><strong>#5dbc64</strong></div>
  <div class="color-item olive">olive<br/><strong>#98bf64</strong></div>
  <div class="color-item emerald">emerald<br/><strong>#038911</strong></div>
  <div class="color-item pear">pear<br/><strong>#74b62d</strong></div>
  <div class="color-item moss">moss<br/><strong>#476d1e</strong></div>
  <div class="color-item shamrock">shamrock<br/><strong>#03ac13</strong></div>
  <div class="color-item seafoam">seafoam<br/><strong>#3cec96</strong></div>
  <div class="color-item pine">pine<br/><strong>#24501e</strong></div>
  <div class="color-item parakeet">parakeet<br/><strong>#02c04a</strong></div>
  <div class="color-item mint">mint<br/><strong>#98ecc3</strong></div>
  <div class="color-item seaweed">seaweed<br/><strong>#354b21</strong></div>
  <div class="color-item pickle">pickle<br/><strong>#5a7d36</strong></div>
  <div class="color-item pistachio">pistachio<br/><strong>#b2d3c1</strong></div>
  <div class="color-item basil">basil<br/><strong>#32622d</strong></div>
  <div class="color-item crocodile">crocodile<br/><strong>#5f7c3a</strong></div>
</div>

<h3>Browns</h3>
<div class="color-container">
  <div class="color-item brown">brown<br/><strong>#241709</strong></div>
  <div class="color-item coffee">coffee<br/><strong>#4b371c</strong></div>
  <div class="color-item mocha">mocha<br/><strong>#3c290d</strong></div>
  <div class="color-item peanut">peanut<br/><strong>#795c34</strong></div>
  <div class="color-item carob">carob<br/><strong>#35260f</strong></div>
  <div class="color-item hickory">hickory<br/><strong>#371d10</strong></div>
  <div class="color-item pecan">pecan<br/><strong>#4a2512</strong></div>
  <div class="color-item walnut">walnut<br/><strong>#432711</strong></div>
  <div class="color-item caramel">caramel<br/><strong>#66360f</strong></div>
  <div class="color-item gingerbread">gingerbread<br/><strong>#5d2c04</strong></div>
  <div class="color-item chocolate">chocolate<br/><strong>#2c1603</strong></div>
  <div class="color-item tortilla">tortilla<br/><strong>#9a7b4f</strong></div>
  <div class="color-item umber">umber<br/><strong>#352415</strong></div>
  <div class="color-item tawny">tawny<br/><strong>#7e491d</strong></div>
  <div class="color-item brunette">brunette<br/><strong>#391e07</strong></div>
  <div class="color-item cinammon">cinammon<br/><strong>#642b0d</strong></div>
  <div class="color-item penny">penny<br/><strong>#522915</strong></div>
</div>

<h3>greys</h3>
<div class="color-container">
  <div class="color-item grey">grey<br/><strong>#aaaaaa</strong></div>
  <div class="color-item shadow">shadow<br/><strong>#373737</strong></div>
  <div class="color-item graphite">graphite<br/><strong>#584d5b</strong></div>
  <div class="color-item iron">iron<br/><strong>#332d31</strong></div>
  <div class="color-item pewter">pewter<br/><strong>#6a6880</strong></div>
  <div class="color-item cloud">cloud<br/><strong>#c5c5d0</strong></div>
  <div class="color-item silver">silver<br/><strong>#dddddd</strong></div>
  <div class="color-item smoke">smoke<br/><strong>#59515f</strong></div>
  <div class="color-item anchor">anchor<br/><strong>#42424c</strong></div>
  <div class="color-item ash">ash<br/><strong>#554c4d</strong></div>
  <div class="color-item porpoise">porpoise<br/><strong>#4d4c5c</strong></div>
  <div class="color-item dove">dove<br/><strong>#7c6e7f</strong></div>
  <div class="color-item fog">fog<br/><strong>#655965</strong></div>
  <div class="color-item flint">flint<br/><strong>#7d7c9c</strong></div>
  <div class="color-item pebble">pebble<br/><strong>#333333</strong></div>
  <div class="color-item lead">lead<br/><strong>#403f4e</strong></div>
  <div class="color-item coin">coin<br/><strong>#9897a9</strong></div>
  <div class="color-item fossil">fossil<br/><strong>#787276</strong></div>
</div>

<h3>Blacks</h3>
<div class="color-container">
  <div class="color-item black">black<br/><strong>#111111</strong></div>
  <div class="color-item ebony">ebony<br/><strong>#080401</strong></div>
  <div class="color-item crow">crow<br/><strong>#25221F</strong></div>
  <div class="color-item charcoal">charcoal<br/><strong>#22202</strong></div>
</div>