<ul class="postit-list">

  <li class="postit">
    <a href="#">
      <h5>Title</h5>
      <p class="recursive-sans-casual-medium-italic">Text Content #2</p>
    </a>
  </li>

    <li class="postit">
    <a href="#">
      <h5>Title</h5>
      <p class="recursive-sans-casual-medium-italic">Text Content #2</p>
    </a>
  </li>

    <li class="postit">
    <a href="#">
      <h5>Title</h5>
      <p class="recursive-sans-casual-medium-italic">Text Content #2</p>
    </a>
  </li>

    <li class="postit">
    <a href="#">
      <h5>Title</h5>
      <p class="recursive-sans-casual-medium-italic">Text Content #2</p>
    </a>
  </li>

    <li class="postit">
    <a href="#">
      <h5>Title</h5>
      <p class="recursive-sans-casual-medium-italic">Text Content #2</p>
    </a>
  </li>

    <li class="postit">
    <a href="#">
      <h5>Title</h5>
      <p class="recursive-sans-casual-medium-italic">Text Content #2</p>
    </a>
  </li>

    <li class="postit">
    <a href="#">
      <h5>Title</h5>
      <p class="recursive-sans-casual-medium-italic">Text Content #2</p>
    </a>
  </li>

    <li class="postit">
    <a href="#">
      <h5>Title</h5>
      <p class="recursive-sans-casual-medium-italic">Text Content #2</p>
    </a>
  </li>

    <li class="postit">
    <a href="#">
      <h5>Title</h5>
      <p class="recursive-sans-casual-medium-italic">Text Content #2</p>
    </a>
  </li>

    <li class="postit">
    <a href="#">
      <h5>Title</h5>
      <p class="recursive-sans-casual-medium-italic">Text Content #2</p>
    </a>
  </li>

    <li class="postit">
    <a href="#">
      <h5>Title</h5>
      <p class="recursive-sans-casual-medium-italic">Text Content #2</p>
    </a>
  </li>
</ul>