
@supports (font-variation-settings: normal) {
  :root {
    --bp-small: 24.15;
    --bp-medium: 43.75;
    --bp-large: 60.25;
    --bp-xlarge: 75;
    --p-line-height-min: 1.25;
    --p-line-height-max: 1.4;
    --p-font-size-min: 1;
    --p-font-size-max: 1.25;
    --recursive-weight: 400;
    --hs-line-height-min: 1.1;
    --hs-line-height-max: 1.1;
    --hs-font-size-min: 2.75;
    --hs-font-size-max: 4.5;
    --hs-vf-wght-multiplier-s: 1;
    --hs-vf-wght-multiplier-m: 1;
    --hs-vf-wght-multiplier-l: 1;
    --h1-line-height-min: 1.1;
    --h1-line-height-max: 1.1;
    --h1-font-size-min: 2.5;
    --h1-font-size-max: 4;
    --h1-vf-wght-multiplier-s: 0.75;
    --h1-vf-wght-multiplier-m: 0.75;
    --h1-vf-wght-multiplier-l: 0.75;
    --h2-line-height-min: 1.15;
    --h2-line-height-max: 1.15;
    --h2-font-size-min: 2;
    --h2-font-size-max: 3;
    --h2-vf-wght-multiplier-s: 0.75;
    --h2-vf-wght-multiplier-m: 0.75;
    --h2-vf-wght-multiplier-l: 0.75;
    --h3-line-height-min: 1.15;
    --h3-line-height-max: 1.15;
    --h3-font-size-min: 1.5;
    --h3-font-size-max: 2;
    --h3-vf-wght-multiplier-s: 1.15;
    --h3-vf-wght-multiplier-m: 1.2;
    --h3-vf-wght-multiplier-l: 1.25;
    --h4-line-height-min: 1.2;
    --h4-line-height-max: 1.2;
    --h4-font-size-min: 1.3125;
    --h4-font-size-max: 1.5;
    --h4-vf-wght-multiplier-s: 1.3;
    --h4-vf-wght-multiplier-m: 1.4;
    --h4-vf-wght-multiplier-l: 1.5;
  }
  p {
    font-size: calc(var(--p-font-size-min) * 1em);
    font-weight: var(--recursive-weight);
    line-height: var(--p-line-height-min);
  }
  @media screen and (min-width: 24.15em) {
    p {
      line-height: calc( (var(--p-line-height-min) * 1em) + (var(--p-line-height-max) - var(--p-line-height-min)) * ( (100vw - (var(--bp-small) * 1em)) / (var(--bp-large) - var(--bp-small)) ));
    }
  }
  @media (min-width: 60.25em) {
    p {
      font-size: calc( (var(--p-font-size-min) * 1em) + (var(--p-font-size-max) - var(--p-font-size-min)) * ( (100vw - (var(--bp-large) * 1em)) / (var(--bp-xlarge) - var(--bp-large)) ));
      line-height: var(--p-line-height-max);
    }
  }
  @media (min-width: 75em) {
    p {
      font-size: calc(var(--p-font-size-max) * 1em);
    }
  }
  .headline-super {
    font-weight: calc(var(--recursive-weight) * var(--hs-vf-wght-multiplier-s));
    font-size: calc(var(--hs-font-size-min) * 1em);
    line-height: var(--hs-line-height-min);
  }
  @media screen and (min-width: 24.15em) {
    .headline-super {
      line-height: calc( (var(--hs-line-height-min) * 1em) + (var(--hs-line-height-max) - var(--hs-line-height-min)) * ( (100vw - (var(--bp-small) * 1em)) / (var(--bp-xlarge) - var(--bp-small)) ));
      font-size: calc( (var(--hs-font-size-min) * 1em) + (var(--hs-font-size-max) - var(--hs-font-size-min)) * ( (100vw - (var(--bp-small) * 1em)) / (var(--bp-xlarge) - var(--bp-small)) ));
    }
  }
  @media screen and (min-width: 43.75em) {
    .headline-super {
      font-weight: calc( var(--recursive-weight) * var(--hs-vf-wght-multiplier-m));
    }
    .fonts-failed .headline-super {
      letter-spacing: normal;
    }
  }
  @media (min-width: 75em) {
    .headline-super {
      font-size: calc(var(--hs-font-size-max) * 1em);
      font-weight: calc( var(--recursive-weight) * var(--hs-vf-wght-multiplier-l));
      line-height: var(--hs-line-height-max);
    }
    .fonts-failed .headline-super {
      letter-spacing: -1px;
    }
  }
  h1 {
    font-weight: calc(var(--recursive-weight) * var(--h1-vf-wght-multiplier-s));
    font-size: calc(var(--h1-font-size-min) * 1em);
    font-style: normal;
    line-height: var(--h1-line-height-min);
  }
  .fonts-failed h1 {
    font-family: Georgia, 'New Times Roman', serif;
    letter-spacing: -0.5px;
  }
  @media screen and (min-width: 24.15em) {
    h1 {
      line-height: calc( (var(--h1-line-height-min) * 1em) + (var(--h1-line-height-max) - var(--h1-line-height-min)) * ( (100vw - (var(--bp-small) * 1em)) / (var(--bp-xlarge) - var(--bp-small)) ));
      font-size: calc( (var(--h1-font-size-min) * 1em) + (var(--h1-font-size-max) - var(--h1-font-size-min)) * ( (100vw - (var(--bp-small) * 1em)) / (var(--bp-xlarge) - var(--bp-small)) ));
    }
  }
  @media screen and (min-width: 43.75em) {
    h1 {
      font-weight: calc( var(--recursive-weight) * var(--h1-vf-wght-multiplier-m));
    }
    .fonts-failed h1 {
      letter-spacing: normal;
    }
  }
  @media (min-width: 75em) {
    h1 {
      font-size: calc(var(--h1-font-size-max) * 1em);
      font-weight: calc( var(--recursive-weight) * var(--h1-vf-wght-multiplier-l));
      line-height: var(--h1-line-height-max);
    }
    .fonts-failed h1 {
      letter-spacing: -1px;
    }
  }
  h2 {
    font-size: calc(var(--h2-font-size-min) * 1em);
    font-weight: calc(var(--recursive-weight) * var(--h2-vf-wght-multiplier-s));
    line-height: var(--h2-line-height-min);
  }
  @media screen and (min-width: 24.15em) {
    h2 {
      line-height: calc( (var(--h2-line-height-min) * 1em) + (var(--h2-line-height-max) - var(--h2-line-height-min)) * ( (100vw - (var(--bp-small) * 1em)) / (var(--bp-xlarge) - var(--bp-small)) ));
      font-size: calc( (var(--h2-font-size-min) * 1em) + (var(--h2-font-size-max) - var(--h2-font-size-min)) * ( (100vw - (var(--bp-small) * 1em)) / (var(--bp-xlarge) - var(--bp-small)) ));
    }
  }
  @media screen and (min-width: 43.75em) {
    h2 {
      font-weight: calc( var(--recursive-weight) * var(--h2-vf-wght-multiplier-m));
    }
    .fonts-failed h2 {
      letter-spacing: -1px;
    }
  }
  @media (min-width: 75em) {
    h2 {
      font-size: calc(var(--h2-font-size-max) * 1em);
      font-weight: calc( var(--recursive-weight) * var(--h2-vf-wght-multiplier-l));
      line-height: var(--h2-line-height-max);
    }
  }
  h3 {
    font-size: calc(var(--h3-font-size-min) * 1em);
    font-weight: calc(var(--recursive-weight) * var(--h3-vf-wght-multiplier-s));
    line-height: var(--h3-line-height-min);
  }
  @media screen and (min-width: 24.15em) {
    h3 {
      line-height: calc( (var(--h3-line-height-min) * 1em) + (var(--h3-line-height-max) - var(--h3-line-height-min)) * ( (100vw - (var(--bp-small) * 1em)) / (var(--bp-xlarge) - var(--bp-small)) ));
      font-size: calc( (var(--h3-font-size-min) * 1em) + (var(--h3-font-size-max) - var(--h3-font-size-min)) * ( (100vw - (var(--bp-small) * 1em)) / (var(--bp-xlarge) - var(--bp-small)) ));
    }
  }
  @media screen and (min-width: 43.75em) {
    h3 {
      font-weight: calc( var(--recursive-weight) * var(--h3-vf-wght-multiplier-m));
    }
  }
  @media (min-width: 75em) {
    h3 {
      font-size: calc(var(--h3-font-size-max) * 1em);
      font-weight: calc( var(--recursive-weight) * var(--h3-vf-wght-multiplier-l));
      line-height: var(--h3-line-height-max);
    }
  }
  h4 {
    font-size: calc(var(--h4-font-size-min) * 1em);
    font-weight: calc(var(--recursive-weight) * var(--h4-vf-wght-multiplier-s));
    line-height: var(--h4-line-height-min);
  }
  @media screen and (min-width: 24.15em) {
    h4 {
      line-height: calc( (var(--h4-line-height-min) * 1em) + (var(--h4-line-height-max) - var(--h4-line-height-min)) * ( (100vw - (var(--bp-small) * 1em)) / (var(--bp-xlarge) - var(--bp-small)) ));
      font-size: calc( (var(--h4-font-size-min) * 1em) + (var(--h4-font-size-max) - var(--h4-font-size-min)) * ( (100vw - (var(--bp-small) * 1em)) / (var(--bp-xlarge) - var(--bp-small)) ));
    }
  }
  @media screen and (min-width: 43.75em) {
    h4 {
      font-weight: calc( var(--recursive-weight) * var(--h4-vf-wght-multiplier-m));
    }
  }
  @media (min-width: 75em) {
    h4 {
      font-size: calc(var(--h4-font-size-max) * 1em);
      font-weight: calc( var(--recursive-weight) * var(--h4-vf-wght-multiplier-l));
      line-height: var(--h4-line-height-max);
    }
  }
}