/*--------------------------------------------------------------
## Figures
--------------------------------------------------------------*/
article .post {
  counter-reset: figure_count;
}

figure {
  margin: 2em auto;
  max-width: 60vw;
}

figure img {
  width: 100%;
}

figure figcaption {
  color: #999;
  font-size: 0.9em;
}

.blocks-gallery-item__caption:before {
  content: '';
}

.post-thumbnail {
  width: 100%;
  height: auto;
  margin: 0;
}

.post-thumbnail img {
  width: 100%;
  height: auto;
}

/*--------------------------------------------------------------
## iframe
--------------------------------------------------------------*/
video,
object {
  clear: both;
  display: block;
  margin: 1em auto;
  max-width: 100% !important;
  height: auto !important;
}

div.video iframe {
  clear: both;
  display: block;
  margin: 1em auto;
  max-width: inherit;
  text-align: center;
}

div.video p {
  font-style: italic;
  font-weight: 700;
  margin-top: -.125em;
}

iframe {
  margin: 1.5em 0;
}
