/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  display: block;
  font-weight: 400;
  clear: left;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-top: 1em;
  padding-left: 0;
}

.main-navigation ul ul {
  display: none;
  top: 1.5em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  top: 0;
}

.main-navigation ul ul li {
  padding-left: 1em;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  position: relative;
}

.main-navigation a {
  display: inline-block;
  width: 100%;
  padding: 0.5em 1em 0.5em 0;
  text-decoration: none;
}

.main-navigation a:hover,
.main-navigation a:focus {
  text-decoration: underline;
}

.main-navigation .menu-item-has-children,
.main-navigation .page_item_has_children {
  min-width: 218px;
}

.main-navigation .menu-item-has-children > a,
.main-navigation .page_item_has_children > a {
  padding-right: 2em;
}

button.dropdown-toggle {
  position: absolute;
  right: 0;
  font-size: 1.1em;
  border: none;
  background: inherit;
  line-height: 1.5em;
  padding: 0.4em 1em 0.4em 0.5em;
}

.menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  margin: 1.2em 1.2em 0 0;
  padding: 0.6em 0.8em;
  text-transform: uppercase;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Toggle small menu and children on */
.toggled-on ul,
.sub-menu.toggled-on {
  display: block;
}

@media screen and (min-width: 24.15em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation .menu-item-has-children > a,
  .main-navigation .page_item_has_children > a {
    padding-right: 2em;
    background: rgba(255, 255, 255, 0.1);
  }
  .main-navigation ul {
    display: block;
    display: flex;
    flex-wrap: wrap;
  }
  .main-navigation ul ul {
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    margin-left: 0;
  }
  .main-navigation ul ul li {
    padding-left: 0;
  }
  .main-navigation ul ul li a {
    width: 218px;
    background: none;
  }
  .main-navigation ul li a {
    padding: 0.4em 1em;
  }
}

@media screen and (min-width: 43.75em) {
  .main-navigation ul {
    justify-content: flex-end;
    padding-top: 0;
    /* If you want dropdowns to open on hover, uncomment this: */
    /*
			li:hover > ul,
				li:focus > ul {
				display: block;
			}
			*/
  }
}
