
article,
footer {
  width: 60vw;
  margin: 1em auto;
}

article h2 + p:nth-of-type(1)::first-letter {
  /* font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; */
  color: #cd2653;
  float: left;
  font-size: 12rem;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.2em 0;
}

/* .dropcap {
  background: #303030;
  color: #FDF9F2;
  float: left;
  font-size: 6rem;
  line-height: 1;
  margin: 0.1em 0.1em 0.2em 0;
  padding: 0.1em;
}
.dropcap:before,
.dropcap:after {
  content: "";
  display: block;
}
.dropcap:before {
  margin-top: -0.2em;
}
.dropcap:after {
  margin-bottom: -0.15em;
} */