a {
  color: #cd2653;
  text-decoration: none;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a:visited {
  color: #cd2653;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a:hover, a:focus, a:active {
  color: #cd2653;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a:focus {
  outline: thin dotted;
}